<% provide(:title, 'Connect') %>
<h1>Connect with us!</h1>
<div style="float: left; width: 48%;">
    <a class="twitter-timeline" href="https://twitter.com/PaceElab" data-widget-id="448878067407024128">Tweets by @PaceElab</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div style="float:right; width: 48%;">
	<ul style="list-style-type: none;">
		<li><a href="http://www.pace.edu/lubin/departments-and-research-centers/entrepreneurship-lubin/entrepreneurship-lab/mailing-list"><%= image_tag "email.gif" %></a></li>
		<li><a href="http://www.twitter.com/paceelab"><%= image_tag "Twitter.gif" %></a></li>
		<li><a href="http://www.facebook.com/pacepitch"><%= image_tag "Facebook.gif" %></a></li>
		<li><a href="http://www.linkedin.com/groups/Pace-Entrepreneurship-Lab-5040182/about"><%= image_tag "linkedin.gif" %></a></li>
		<li><a href="http://www.youtube.com/user/paceelab"><%= image_tag "youtube.gif" %></a></li>
		<li><a href="https://foursquare.com/paceelab"><%= image_tag "Foursquare.gif" %></a></li>
		<li><a href="http://www.instagram.com/paceelab"><%= image_tag "instagram.gif" %></a></li>
	</ul>
	</div>
	<div style="width:100%;">
	</div>
